html {
	position: relative;
	min-height: 100%;
	display: block;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
}

#wrapper {
	display: flex;
}

.left_admin .card {
	background-color: #eeeef7;
	width: 17rem;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	display: flex !important;
	padding: 110px 15px 15px 15px;
}

form.admin {
	border: 1px solid #d6d6d6;
	background-color: #f9f9f9;
	width: 175px;
	height: 300px;
	align-items: center;
	padding: 15px;
}

form.admin>img {
	display: block;
	margin: 15px auto;
	width: 60px;
	height: 60px;
	border-radius: 6px;
	vertical-align: middle;
	border: 0;
}

form.admin>p.userid {
	margin-bottom: 5px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #393939;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

form.admin>p.nickname {
	line-height: 15px;
	color: #a6a6a6;
	font-size: 12px;
	text-align: center;
}

form.admin>p.email {
	margin-top: 10px;
	line-height: 15px;
	color: #a6a6a6;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
}