@charset "utf-8";

body {
	background-color: #fff;
}
#container {
	top: 50%; margin-top: -170px; height: 280px;
}
#container h1.logo {
	margin-bottom: 15px; height: 60px;  background: transparent url('../../../image/member/login_logo.png') no-repeat;
}
#container h1.logo a {
	display: block; width: 60px; height: 100%; color: transparent; font-size: 0;
}
#container p.input {
	margin-bottom: 5px; padding: 5px 10px; border: 1px solid #d6d6d6; background-color: #fff;
}
#container div.g-recaptcha {
	margin-bottom: 5px; height: 76px;
}
#container p.submit {
	margin-bottom: 18px; background-color: #7869E6;
}
#container p input.text {
	border: 0; width: 100%; height: 28px; line-height: 28px;
	color: #292929; font-size: 16px; background-color: transparent; outline: none;
}
#container p input.text:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#container p.submit input.text {
	height: 40px; line-height: 40px; color: #fff; background-color: transparent; cursor: pointer;
}
#container label.autologin {
	display: block; float: left; display: inline-block; padding-left: 10px; height: 15px; line-height: 15px;
	color: #a6a6a6; font-size: 13px;
}
#container label.autologin input {
	margin-right: 5px;
	vertical-align: middle;
    margin-top: 0px;
}
#container p.find {
	float: right; padding-right: 10px; height: 15px; line-height: 0px; margin-top: 6px;
}
#container p.find a {
	color: #444444; font-size: 13px;
}
#container p.register {
	clear: both; padding-top: 35px; height: 20px; line-height: 20px; text-align: center;
}
#container p.register span {
	margin-right: 5px; color: #a6a6a6; font-size: 16px; text-decoration: none;
}
#container p.register a {
	color: #7869E6; font-size: 16px; font-weight: bold;
}

@media only screen and (max-width: 640px) {
	#container {
		margin: 30px 15px;
	}
	body.appopen #container {
		margin-top: 78px;
	}
	#container h1.logo {
		height: 60px; background-image: url('/images/index.login.logo.big.png'); background-position: center center; background-size: 60px 60px;
	}
}
