#submenu>div.wrap>div.group>ul>li>a.more {
	color: #7869e6;
	font-weight: bold;
	cursor: pointer;
}
/* �꽌釉뚮찓�돱 寃뚯떆�뙋 �꽑�깮�떆 蹂�寃� �깋�긽 */
#submenu>div.wrap ul>li>a:hover {
	color: #7869e6;
	font-weight: bold;
}

/* �꽌釉뚮찓�돱 type 援щ텇�꽑 */
#submenu>div.wrap>div.divider {
	display: inline-block;
	width: 1px;
	height: 100px;
	background-color: #c6c6f3;
	margin-top: 15px;
}

/* �꽌釉뚮찓�돱 �겕湲� */
#submenu>div { 
	padding: 28px 0px 10px 0px;
}

/* �꽌釉뚮찓�돱 3以� 媛꾧꺽 議곗젅 */
#submenu>div>div>ul {
	margin-bottom: 15px;
}

/* �꽌釉뚮찓�돱 type 援щ텇 �긽�븯醫뚯슦 媛꾧꺽 */
#submenu>div.wrap>div.group {
	margin-right: 15px;
	width: 100px;
	margin-top: 15px;
    text-align: center;
}

/* �꽌釉뚮찓�돱 寃뚯떆�뙋 紐⑸줉 �긽�븯 媛꾧꺽 */
#submenu>div.wrap>div.group>ul>li>a {
    font-size: 13px;
    margin-bottom: 9px;
}

