#writeArticleButton>img { /* 湲��벐湲� 踰꾪듉 */
	justify-content: flex-end;
	width: 23px;
	height: 23px;
	margin-left: 592px; /* �씠誘몄�瑜� �뀓�뒪�듃 �쁿�뿉 遺숈씠湲� �쐞�빐 醫뚯륫 留덉쭊�쓣 �꽕�젙�빀�땲�떎. */
	margin-bottom: 3px;
	cursor: pointer;
	
}

/*-----------------------------------------------------------  �럹�씠吏��꽕�씠�뀡 諛� �옉�뾽 ----------------------------------------------------------- */
.center-block {
	text-align: center;
	margin: 20px auto;
}

.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.pagination li {
	display: inline;
	margin: 0 2px;
}

.pagination li a.active {
	padding: 8px 16px;
	text-decoration: none;
	color: #7869e6;
	font-weight: bold;
}

.pagination li a, .pagination li span {
	padding: 8px 16px;
	text-decoration: none;
	color: #111111;
	font-size: 15px;
}

.pagination li.active a {
	color: #7869e6;
    border-bottom: 3px solid #7869e6;
    font-size: 15px;
    padding: 15px;
    padding-bottom: 6px;
    font-weight: bold;
}

.pagination li.gray a, .pagination li.gray span {
	background-color: #ddd;
	color: #888;
	cursor: default;
}
/*-----------------------------------------------------------  �럹�씠吏��꽕�씠�뀡 �씠�쟾 , �떎�쓬 踰꾪듉 ----------------------------------------------------------- */
#container>div.wrap.articles>div>ul>li:nth-child(1)>a {
	/* �꽑�깮�옄�뒗 異뷀썑�뿉 蹂�寃� */
	border: 1px solid #fff0;
	background-image:
		url(/anytime/resources/image/post/container.articles.pagination.before.png);
	background-position: right 1px center;
	margin-top: 5px;
	margin-left: 5px;
	padding: px 10px px 25px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #7869e6;
	border-radius: 5px;
	color: #7869e6;
	font-size: 14px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 10px 15px;
	cursor: pointer;
}

#container>div.wrap.articles>div>ul>li:last-child>a {
	/* �꽑�깮�옄�뒗 異뷀썑�뿉 蹂�寃� */
	border: 1px solid #fff0;
	background-image:
		url(/anytime/resources/image/post/container.articles.pagination.next.png);
	background-position: left 50px center !important;
	margin-top: 5px;
	margin-left: 5px;
	padding: px 10px px 25px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #7869e6;
	border-radius: 5px;
	color: #7869e6;
	font-size: 14px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 10px 15px;
	cursor: pointer;
}

.pagination .page-link.active { /* �븸�떚釉뚮맂 �럹�씠吏� 諛묒쨪 媛뺤“�몴�떆 肄붾뱶�뿉 �뵲�씪 異뷀썑�뿉 �꽭遺� 蹂�寃� */
	font-weight: bold;
	text-decoration: underline;
}

.hidden {
  display: none !important;
}

/*-----------------------------------------------------------  遺덈윭�삱 湲� �궡�슜 �뾾�쓣�븣 ----------------------------------------------------------- */
.empty_postlist{
    font-size: 40px;
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
.empty_postlist p{
	font-size: 40px;
	animation: slide 5s linear infinite;
}
/*----------------------------------------------------------- 寃뚯떆湲� 由ъ뒪�듃 蹂대뱶�씠由�  ----------------------------------------------------------- */
#container > div.wrap.title > h1{
	color: #292929;
    font-size: 22px;
    font-weight: bold;
}

#container > div.wrap.articles > article > div:nth-child(2){
	font-size: 12px;
}

/*----------------------------------------------------------- 寃뚯떆湲� 由ъ뒪�듃 �샇踰꾩깋�긽  ----------------------------------------------------------- */
#container > div.wrap.articles > article > a[href]:hover {
	background-color: #fbfbfb;
}
