body {
	background: #eeeef7 !important;
}

div.container section div.menu[data] {
	box-sizing: border-box;
	margin-top: 24px;
	padding-left: 16px;
	width: 100%;
	height: 48px;
	font-size: 0;
	background-color: #FFFFFF
}

div.container section div.menu a[data] {
	display: inline-block;
	padding: 8px 8px 14px 8px
}

div.container section div.menu a span[data] {
	display: inline-block;
	border-bottom: 2px solid #ededed;
	line-height: 24px;
	color: #A6A6A6;
	font-size: 16px
}

@media ( prefers-color-scheme : dark) {
	div.container section div.menu a span[data] {
		color: #6E6E6E
	}
}

div.container section div.menu a.active span[data] {
	border-bottom-color: #7869e6;
	color: #7869e6;
	font-weight: bold
}

div.container section form[data] {
	padding: 15px 24px 24px 24px;
}

div.container section form[data]:not(:first-of-type) {
	margin-top: -16px;
	padding-top: 0
}

div.container section form input[data] {
	display: block;
	box-sizing: border-box;
	border-radius: 12px;
	width: 100%;
	height: 40px
}

div.container section form input[data]:not(:first-of-type) {
	margin-top: 8px
}

div.container section form input[type=email][data], div.container section form input[type=password][data],
	div.container section form input[type=text][data] {
	padding: 8px;
	border: 1px solid #7869e6;
	line-height: 24px;
	color: #292929;
	font-size: 16px;
	background-color: #f6f6ff;
	padding-top: 10px;
}

div.container section form input[type=email][data]:focus, div.container section form input[type=password][data]:focus,
	div.container section form input[type=text][data]:focus {
	background-color: #FFFFFF
}

@media ( prefers-color-scheme : dark) {
	div.container section form input[type=email][data]:focus, div.container section form input[type=password][data]:focus,
		div.container section form input[type=text][data]:focus {
		background-color: #111111
	}
}

div.container section form input[type=submit][data] {
	border: 0;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	background-color: #7869e6
}

div.container section form div.description[data] {
	margin-top: 24px
}

div.container section form div.description p[data] {
	margin-bottom: 4px;
	line-height: 18px;
	color: #737373;
	font-size: 12px
}

@media ( prefers-color-scheme : dark) {
	div.container section form div.description p[data] {
		color: #9A9A9A
	}
}

div.container section form h1[data] {
	margin-bottom: 24px;
	line-height: 26px;
	color: #292929;
	font-size: 18px;
	font-weight: bold
}

@media ( prefers-color-scheme : dark) {
	div.container section form h1[data] {
		color: #F0F0F0
	}
}

div.container section form p.text[data] {
	margin-bottom: 24px;
	line-height: 20px;
	color: #737373;
	font-size: 14px
}

@media ( prefers-color-scheme : dark) {
	div.container section form p.text[data] {
		color: #9A9A9A
	}
}

div.container section form a.button[data] {
	display: block;
	border-radius: 12px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	cursor: pointer
}

div.container section form a.button.red[data] {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #7869e6
}

@media ( prefers-color-scheme : dark) {
	div.container section form a.button.red[data] {
		color: #111111;
		background-color: #E45E4F
	}
}

div.container section form a.button.normal[data] {
	color: #737373;
	background-color: #F2F2F2
}

@media ( prefers-color-scheme : dark) {
	div.container section form a.button.normal[data] {
		color: #9A9A9A;
		background-color: #282828
	}
}

@media ( max-width : 479px) {
	body.appwebview div.container section div.menu[data] {
		margin-top: 0
	}
}

@media ( min-width : 480px) {
	div.container[data] {
		margin: 24px auto;
		width: 480px
	}
	div.container section[data] {
		box-sizing: border-box;
		border: 1px solid #c1c1c1;
		border-radius: 12px;
		background: #ffffff
	}
}