html {
	position: relative;
	min-height: 100%;
	display: block;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
}

#wrapper {
	display: flex;
}

.left_admin .card {
	background-color: #eeeef7;
	width: 14rem;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	display: flex !important;
	padding: 110px 15px 15px 15px;
}

.card>.admin {
	padding: 15px;
	border: 1px solid #d6d6d6;
	background-color: #f9f9f9;
	width: 175px;
	height: 300px;
	align-items: center;
}

form.admin>img {
	display: block;
	margin: 20px auto;
	width: 60px;
	height: 60px;
	border-radius: 6px;
}

p.nickname {
	margin-top: 30px;
	margin-bottom: 10px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #393939;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

p.userid {
	line-height: 15px;
	color: #a6a6a6;
	font-size: 12px;
	text-align: center;
}

p.email {
	margin-top: 28px;
	line-height: 15px;
	color: #a6a6a6;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
}

.admin>ul.buttons {
	margin-top: 30px;
}

.admin>ul.buttons>li {
	float: left;
	width: 50%;
	list-style: none;
}

.admin>ul.buttons>li.info>a {
	background-color: #CFD8FF;
	border: 1px solid #7868E6;
	color: #7868E6;
}

.admin>ul.buttons>li.logout>a {
	background-color: #7868E6;
	border: 1px solid #7868E6;
	color: #ffffff;
}

.admin>ul.buttons>li>a {
	display: block;
	margin-right: 5px;
	border-radius: 10px;
	line-height: 25px;
	font-size: 13px;
	text-align: center;
}

.admin hr {
	clear: both;
	width: 100%;
	height: 0;
	border: 0;
}

.email>img {
	width: 20px;
	height: 20px;
}

div.boardadmin {
	margin: 100px auto 0 60px;
	width: 100%;
}

div.menu ol>li {
	cursor: pointer;
	display: inline-block;
	margin-right: 16px;
	box-sizing: border-box;
}

div.menu ol li a {
	display: block;
	margin: 16px 0;
	color: #a6a6a6;
	font-size: 14px;
	line-height: 22px;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

div.menu ol li a.active {
	color: #7868E6;
}

div.section {
	margin-top: -25px;
	margin-right: 220px;
}

table.request, table.list {
	width: 100%;
	margin-top: 24px;
	border: 2px solid #ededed;
	border-spacing: 0;
	border-radius: 12px;
}

table thead {
	width: 100%;
}

table tbody {
	width: 100%;
}

table tr {
	height: 40px;
}

table tr td {
	border-top: 1px solid #ededed;
	text-align: center;
}

table tr th.toggle, table tr th.rownum {
	text-align: center;
	width: 5%;
}

table tr th.school, table.request tbody td {
	text-align: center;
	width: 8%;
}

table tr th {
	text-align: center;
}

table tr th.type {
	width: 10%;
}

table tr th.name {
	width: 15%;
}

table tr th.purpose {
	width: 30%;
}

table tr th.manager {
	width: 10%;
}

table tr th.approval {
	width: 15%;
}

table tr th {
	color: #666;
	font-size: 14px;
	font-weight: normal;
}
/* 스위치 스타일 */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	vertical-align: middle;
	margin-right: -30px;
}

.list .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	vertical-align: middle;
	margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	margin-top: 5px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 40px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	background-color: #ccc;
	position: absolute;
	background-color: #ccc;
	position: absolute;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #7868E6;
	margin-top: 10px;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
	margin-top: 10px;
}

.slider.round:before {
	border-radius: 50%;
}

td.complete p {
	color: #35AA86;
}

td.pending p {
	margin-left: 30px;
}

td.reject p {
	color: #DA4E58;
}

.approval img {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
}

.menu a.active {
	-webkit-text-stroke: 0.4px #7868E6;
}

.menu a {
	-webkit-text-stroke: 0.2px #a6a6a6;
}

#boardInfo {
	border-radius: 12px;
	padding: 25px 25px 20px 25px !important;
}