section.footer>ul.links {
	padding: 16px 0;
	font-size: 0;
}

body {
	/* color: #666; */
	/* font-family: "맑은 고딕", 돋움, "Apple SD Gothic Neo", tahoma; */
	_font-family: 돋움, tahoma;
	font-size: 12px;
	letter-spacing: -0.5px;
	overflow-x: hidden;
}

div, nav, aside, article, h1, h2, h3, h4, ol, ul, li, dl, dt, dd, p,
	span, form, th, td, input, textarea, select, pre, address {
	/* color: #666; */
	/* font-family: "맑은 고딕", 돋움, "Apple SD Gothic Neo", tahoma; */
	_font-family: 돋움, tahoma;
	font-size: 12px;
	letter-spacing: -0.5px;
}

section.footer>ul.links>li {
	display: inline-block;
}

section.footer>ul.links>li>a {
	display: inline-block;
	line-height: 20px;
	color: #737373;
	text-decoration: none;
}

section.footer>ul.links>li.copyright>a, section.footer>ul.links>li.privacy>a
	{
	font-family: NanumSquareEB;
}

section.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #f8f8f8;
	border: 1px solid #e3e3e3;
}

body, div, nav, aside, article, h1, h2, h3, h4, ol, ul, li, dl, dt, dd,
	p, span, form, th, td, input, textarea, select, pre, address {
	/* color: #666; */
	/* font-family: "맑은 고딕", 돋움, "Apple SD Gothic Neo", tahoma; */
	_font-family: 돋움, tahoma;
	font-size: 12px;
	letter-spacing: -0.5px;
}