nav {
	position: relative !important;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top {
  /* 상단 컨테이너 스타일 */
  background-color: #ccc;
  padding: 10px;
}

.content {
  display: flex;
  flex: 1; /* 나머지 공간을 차지하도록 설정 */
}

.left {
  flex: 1;
}

.right {
  flex: 6;
}

.left {
  /* 왼쪽 컨테이너 스타일 */
  background-color: #f0f0f0;
}

.right {
  /* 오른쪽 컨테이너 스타일 */
  background-color: #ffffff;
}


button.fc-myCustomButton-button {
	width: 100px;
    height: 29.59px;
}


